@media  screen and (width > 640px) {
    .calendar {
        padding: 16px;
        margin: 16px;
        iframe{
            display: block;
            width: 100%;
            max-width: 768px;
            margin-inline: auto;
            height: auto;
            aspect-ratio: 1/1;
        }
    }
}